In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)

database = pd.read_csv(r'C:\Users\eduar\OneDrive\Desktop\DEV\Football\PremierLeague\database.csv',index_col=None)

In [6]:
# Agrupar os dados por jogador e calcular a soma dos chutes ao gol e a contagem de aparições
db_agrupado_jogador = database.groupby(['Player','Team'], as_index= False).agg(
    Total_Gols=('Goals','sum'),
    Total_Chutes=('Total Shoot', 'sum'),   # Soma dos chutes ao gol
    Aparicoes=('Player', 'count'), # Contagem de aparições
    Total_Chutes_Gol=('Shoot on Target', 'sum') # Contagem de aparições
)

In [7]:
db_agrupado_jogador['Média_chute']=round(db_agrupado_jogador['Total_Chutes'] / db_agrupado_jogador['Aparicoes'],2)
db_agrupado_jogador['Média_chute_Gol']=round(db_agrupado_jogador['Total_Chutes_Gol'] / db_agrupado_jogador['Aparicoes'],2)
db_agrupado_jogador['Média_gol']=round(db_agrupado_jogador['Total_Gols'] / db_agrupado_jogador['Aparicoes'],2)
db_agrupado_jogador['Taxa_Chutes_Gol'] = db_agrupado_jogador['Total_Chutes_Gol'] / db_agrupado_jogador['Total_Chutes']

In [11]:
database[database['Team']=='Liverpool']

,Player,Team,#,Nation,Position,Age,Minutes,Goals,Assists,Penalty Shoot on Goal,Penalty Shoot,Total Shoot,Shoot on Target,Yellow Cards,Red Cards,Touches,Dribbles,Tackles,Blocks,Expected Goals (xG),Non-Penalty xG (npxG),Expected Assists (xAG),Shot-Creating Actions,Goal-Creating Actions,Passes Completed,Passes Attempted,Pass Completion %,Progressive Passes,Carries,Progressive Carries,Dribble Attempts,Successful Dribbles,Date
48,Diogo Jota,Liverpool,20,POR,FW,27-257,78,1,0,0,0,3,1,0,0,27,1,1,0,0.9,0.9,0.0,1,0,9,15,"60,0",2,16,2,2,1,2024-08-17
49,Cody Gakpo,Liverpool,18,NED,FW,25-102,12,0,0,0,0,0,0,1,0,11,0,0,0,0.0,0.0,0.0,0,0,7,10,"70,0",0,5,1,0,0,2024-08-17
50,Luis Díaz,Liverpool,7,COL,LW,27-217,90,0,0,0,0,3,0,0,0,44,1,0,1,0.5,0.5,0.3,7,0,31,36,"86,1",2,28,9,5,5,2024-08-17
51,Mohamed Salah,Liverpool,11,EGY,RW,32-063,90,1,1,0,0,4,3,0,0,44,0,0,0,0.7,0.7,0.5,3,1,25,34,"73,5",1,26,2,2,0,2024-08-17
52,Dominik Szoboszlai,Liverpool,8,HUN,AM,23-297,90,0,0,0,0,3,0,0,0,59,1,0,1,0.2,0.2,0.4,4,0,44,50,"88,0",6,33,4,1,1,2024-08-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3585,Andrew Robertson,Liverpool,26,SCO,LB,30-258,90,0,0,0,0,0,0,0,0,107,2,0,0,0.0,0.0,0.1,7,0,85,100,"85,0",16,42,3,1,0,2024-11-24
3586,Virgil van Dijk,Liverpool,4,NED,CB,33-139,90,0,0,0,0,0,0,0,0,96,0,2,0,0.0,0.0,0.0,2,0,80,89,"89,9",6,52,0,0,0,2024-11-24
3587,Ibrahima Konaté,Liverpool,5,FRA,CB,25-183,90,0,0,0,0,0,0,1,0,75,1,0,0,0.0,0.0,0.0,1,1,66,71,"93,0",5,51,1,0,0,2024-11-24
3588,Conor Bradley,Liverpool,84,NIR,RB,21-138,90,0,0,0,0,3,1,1,0,64,2,0,0,0.2,0.2,0.0,3,1,44,53,"83,0",1,29,1,2,1,2024-11-24
3589,Caoimhín Kelleher,Liverpool,62,IRL,GK,26-001,90,0,0,0,0,0,0,0,0,23,0,0,0,0.0,0.0,0.0,0,0,15,20,"75,0",0,12,0,0,0,2024-11-24

In [13]:
database[database['Player'].isin(['Mohamed Salah'])]

,Player,Team,#,Nation,Position,Age,Minutes,Goals,Assists,Penalty Shoot on Goal,Penalty Shoot,Total Shoot,Shoot on Target,Yellow Cards,Red Cards,Touches,Dribbles,Tackles,Blocks,Expected Goals (xG),Non-Penalty xG (npxG),Expected Assists (xAG),Shot-Creating Actions,Goal-Creating Actions,Passes Completed,Passes Attempted,Pass Completion %,Progressive Passes,Carries,Progressive Carries,Dribble Attempts,Successful Dribbles,Date
51,Mohamed Salah,Liverpool,11,EGY,RW,32-063,90,1,1,0,0,4,3,0,0,44,0,0,0,0.7,0.7,0.5,3,1,25,34,"73,5",1,26,2,2,0,2024-08-17
592,Mohamed Salah,Liverpool,11,EGY,RW,32-071,82,1,0,0,0,3,2,0,0,46,1,0,0,0.5,0.5,0.0,3,0,30,35,"85,7",10,40,6,2,2,2024-08-25
910,Mohamed Salah,Liverpool,11,EGY,RW,32-078,90,1,2,0,0,3,1,0,0,46,1,1,0,0.6,0.6,0.9,7,2,27,35,"77,1",2,32,5,4,2,2024-09-01
1048,Mohamed Salah,Liverpool,11,EGY,RW,32-091,90,0,0,0,0,3,2,0,0,54,0,0,0,0.1,0.1,0.1,6,0,30,43,"69,8",5,39,7,5,1,2024-09-14
1267,Mohamed Salah,Liverpool,11,EGY,RW,32-098,90,0,1,0,0,4,3,0,0,37,0,0,0,0.6,0.6,0.5,12,2,20,25,"80,0",4,39,4,7,5,2024-09-21
1732,Mohamed Salah,Liverpool,11,EGY,RW,32-105,90,1,0,1,1,2,1,0,0,38,2,0,1,1.3,0.5,0.2,2,0,19,29,"65,5",2,16,2,3,2,2024-09-28
1855,Mohamed Salah,Liverpool,11,EGY,RW,32-112,72,0,0,0,0,2,1,0,0,31,0,0,0,0.2,0.2,0.0,2,0,19,23,"82,6",3,20,1,0,0,2024-10-05
2390,Mohamed Salah,Liverpool,11,EGY,RW,32-127,90,1,1,1,1,1,0,0,0,38,1,1,0,0.8,0.0,0.7,4,2,17,31,"54,8",3,31,1,4,3,2024-10-20
2740,Mohamed Salah,Liverpool,11,EGY,RW,32-134,90,1,0,0,0,3,2,0,0,42,0,0,0,0.4,0.4,0.0,2,0,26,37,"70,3",3,29,4,4,2,2024-10-27
2815,Mohamed Salah,Liverpool,11,EGY,RW,32-140,89,1,0,0,0,3,2,0,0,29,0,0,0,0.5,0.5,0.2,3,0,14,22,"63,6",3,23,5,2,1,2024-11-02
3205,Mohamed Salah,Liverpool,11,EGY,RW,32-147,90,1,1,0,0,3,1,0,0,46,2,0,0,0.8,0.8,0.7,2,0,21,32,"65,6",5,27,2,2,0,2024-11-09
3580,Mohamed Salah,Liverpool,11,EGY,RW,32-162,90,2,0,1,1,6,3,1,0,41,0,1,0,1.9,1.1,0.1,4,0,21,29,"72,4",6,31,6,4,2,2024-11-24

In [ ]:
db_agrupado_jogador[db_agrupado_jogador['Jogador'].isin(['Matheus Cunha','Ollie Watkins'])]

,Jogador,Time,Total_Gols,Total_Chutes,Aparicoes,Total_Chutes_Gol,Média_chute,Média_chute_Gol,Média_gol,Taxa_Chutes_Gol
285,Matheus Cunha,Wolverhampton Wanderers,2,16,6,7,2.67,1.17,0.33,0.4375
330,Ollie Watkins,Aston Villa,4,14,6,7,2.33,1.17,0.67,0.5000

In [ ]:
db_agrupado_jogador[(db_agrupado_jogador['Time'].isin(['Liverpool','Arsenal','Manchester City']) & (db_agrupado_jogador['Aparicoes']>4))].sort_values(by='Média_chute_Gol', 
ascending=False, ignore_index= True).head(20)

,Jogador,Time,Total_Gols,Total_Chutes,Aparicoes,Total_Chutes_Gol,Média_chute,Média_chute_Gol,Média_gol,Taxa_Chutes_Gol
0,Erling Haaland,Manchester City,10,30,6,20,5.00,3.33,1.67,0.666667
1,Mohamed Salah,Liverpool,4,19,6,12,3.17,2.00,0.67,0.631579
2,Bukayo Saka,Arsenal,1,18,6,9,3.00,1.50,0.17,0.500000
3,Kai Havertz,Arsenal,3,18,6,8,3.00,1.33,0.50,0.444444
4,Luis Díaz,Liverpool,5,14,6,8,2.33,1.33,0.83,0.571429
5,Gabriel Magalhães,Arsenal,2,8,6,4,1.33,0.67,0.33,0.500000
6,Joško Gvardiol,Manchester City,1,7,6,4,1.17,0.67,0.17,0.571429
7,Leandro Trossard,Arsenal,2,10,6,4,1.67,0.67,0.33,0.400000
8,Gabriel Martinelli,Arsenal,1,6,6,3,1.00,0.50,0.17,0.500000
9,Bernardo Silva,Manchester City,0,9,6,3,1.50,0.50,0.00,0.333333
10,Declan Rice,Arsenal,0,6,5,2,1.20,0.40,0.00,0.333333
11,Diogo Jota,Liverpool,1,11,5,2,2.20,0.40,0.20,0.181818
12,Sávio,Manchester City,0,7,5,2,1.40,0.40,0.00,0.285714
13,Ryan Gravenberch,Liverpool,0,2,6,2,0.33,0.33,0.00,1.000000
14,Andrew Robertson,Liverpool,0,3,6,2,0.50,0.33,0.00,0.666667
15,Ibrahima Konaté,Liverpool,1,5,6,2,0.83,0.33,0.17,0.400000
16,Alexis Mac Allister,Liverpool,0,4,6,2,0.67,0.33,0.00,0.500000
17,Jeremy Doku,Manchester City,0,5,5,1,1.00,0.20,0.00,0.200000
18,İlkay Gündoğan,Manchester City,0,6,5,1,1.20,0.20,0.00,0.166667
19,Jack Grealish,Manchester City,0,6,5,1,1.20,0.20,0.00,0.166667

## Agrupado Time

In [ ]:
sorted(database.Time.unique().tolist())

['Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brentford',
 'Brighton & Hove Albion',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Ipswich Town',
 'Leicester City',
 'Liverpool',
 'Manchester City',
 'Manchester United',
 'Newcastle United',
 'Nottingham Forest',
 'Southampton',
 'Tottenham Hotspur',
 'West Ham United',
 'Wolverhampton Wanderers']

In [ ]:
db_agrupado_time = database.groupby(['Time'], as_index=False).agg(
    Total_Gols=('Gols', 'sum'),
    Total_Chutes=('TC', 'sum'),   # Soma dos chutes ao gol
    Aparicoes=('Data', 'nunique'), # Contagem de jogos únicos (datas únicas)
    Total_Chutes_Gol=('CaG', 'sum') # Soma dos chutes ao gol
)

In [ ]:
db_agrupado_time['Média_chute']=round(db_agrupado_time['Total_Chutes'] / db_agrupado_time['Aparicoes'],2)
db_agrupado_time['Média_chute_gol']=round(db_agrupado_time['Total_Chutes_Gol'] / db_agrupado_time['Aparicoes'],2)
db_agrupado_time['Média_gol']=round(db_agrupado_time['Total_Gols'] / db_agrupado_time['Aparicoes'],2)
db_agrupado_time['Taxa_Chutes_Gol'] = db_agrupado_time['Total_Chutes_Gol'] / db_agrupado_time['Total_Chutes']

In [ ]:
db_agrupado_time[db_agrupado_time['Time'].isin(['Chelsea','West Ham United'])].sort_values(by='Total_Chutes', ascending=False, ignore_index= True)

,Time,Total_Gols,Total_Chutes,Aparicoes,Total_Chutes_Gol,Média_chute,Média_chute_gol,Média_gol,Taxa_Chutes_Gol
0,West Ham United,4,52,4,10,13.00,2.50,1.0,0.192308
1,Chelsea,8,47,4,21,11.75,5.25,2.0,0.446809

In [ ]:
db_agrupado_time.sort_values(by='Média_chute_gol', ascending=False, ignore_index= True)

,Time,Total_Gols,Total_Chutes,Aparicoes,Total_Chutes_Gol,Média_chute,Média_chute_gol,Média_gol,Taxa_Chutes_Gol
0,Tottenham Hotspur,5,63,4,24,15.75,6.00,1.25,0.380952
1,Nottingham Forest,4,58,4,24,14.50,6.00,1.00,0.413793
2,Manchester City,11,65,4,24,16.25,6.00,2.75,0.369231
3,Arsenal,6,45,4,21,11.25,5.25,1.50,0.466667
4,Manchester United,5,53,4,21,13.25,5.25,1.25,0.396226
5,Bournemouth,5,64,4,21,16.00,5.25,1.25,0.328125
6,Chelsea,8,47,4,21,11.75,5.25,2.00,0.446809
7,Liverpool,7,62,4,21,15.50,5.25,1.75,0.338710
8,Brentford,6,45,4,19,11.25,4.75,1.50,0.422222
9,Brighton & Hove Albion,6,67,4,19,16.75,4.75,1.50,0.283582
10,Aston Villa,7,53,4,18,13.25,4.50,1.75,0.339623
11,Fulham,4,58,4,17,14.50,4.25,1.00,0.293103
12,Newcastle United,6,40,4,15,10.00,3.75,1.50,0.375000
13,Leicester City,5,35,4,14,8.75,3.50,1.25,0.400000
14,Crystal Palace,3,56,4,14,14.00,3.50,0.75,0.250000
15,Wolverhampton Wanderers,4,44,4,14,11.00,3.50,1.00,0.318182
16,Everton,4,43,4,12,10.75,3.00,1.00,0.279070
17,Southampton,1,47,4,12,11.75,3.00,0.25,0.255319
18,West Ham United,4,52,4,10,13.00,2.50,1.00,0.192308
19,Ipswich Town,2,25,4,8,6.25,2.00,0.50,0.320000

## Agrupado por Data

In [ ]:
db_desempenho_por_data = database.groupby(['Time', 'Data'], as_index=False).agg(
    Total_Gols=('Gols', 'sum'),          # Soma de gols por data
    Total_Chutes=('TC', 'sum'),          # Soma de chutes por data
    Total_Chutes_Gol=('CaG', 'sum')      # Soma dos chutes ao gol por data
).sort_values(by=['Time', 'Data'])

In [ ]:
db_desempenho_por_data['Taxa_Chutes'] = round(db_desempenho_por_data['Total_Gols'] / db_desempenho_por_data['Total_Chutes'],4)
db_desempenho_por_data['Taxa_Chutes_Gol'] = round(db_desempenho_por_data['Total_Gols'] / db_desempenho_por_data['Total_Chutes_Gol'],4)

In [ ]:
db_desempenho_por_data[db_desempenho_por_data['Time'].isin(['Chelsea','West Ham United'])].tail(10)

,Time,Data,Total_Gols,Total_Chutes,Total_Chutes_Gol,Taxa_Chutes,Taxa_Chutes_Gol
20,Chelsea,2024-08-18,0,10,3,0.0000,0.0000
21,Chelsea,2024-08-25,6,14,8,0.4286,0.7500
22,Chelsea,2024-09-01,1,13,7,0.0769,0.1429
23,Chelsea,2024-09-14,1,10,3,0.1000,0.3333
72,West Ham United,2024-08-17,1,13,2,0.0769,0.5000
73,West Ham United,2024-08-24,2,18,3,0.1111,0.6667
74,West Ham United,2024-08-31,0,10,2,0.0000,0.0000
75,West Ham United,2024-09-14,1,11,3,0.0909,0.3333